<!DOCTYPE html>
<html>

<head>
    <style>
        html,
        body {
            height: 297mm;
            width: 210mm;
            margin: .5in .5in .5in .5in;
        }
    </style>
</head>

<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorum porro reiciendis delectus unde? Iusto corporis
        placeat hic, nostrum distinctio odit repudiandae eius. Asperiores architecto ipsa possimus quibusdam esse at ratione
        fugiat? Sequi cumque cupiditate aut accusamus dolore odit, deserunt illum fuga eius explicabo rerum ut consectetur
        quis dignissimos cum architecto corrupti commodi exercitationem quas adipisci minima dolores repudiandae perferendis!
        Autem ducimus sequi quas at placeat ab minus dolores accusamus exercitationem aut. Ab, ea numquam. Corporis nam harum
        nisi illo voluptatibus accusantium eos, modi distinctio, maxime omnis asperiores autem corrupti, odit voluptatum
        velit ratione eum dicta! Itaque saepe quo ipsum?</p>
</body>

</html>